* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

img {
    max-width: 80px;
}

a {
    text-decoration: none
}

ul,
li {
    list-style: none;
}

/* menu */
.menu {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;

}

.logo {
    margin-left: 35px;
}

.menu-nav ul {
    display: flex;
    margin-right: 35px;
}


.menu-nav a {
    font-size: 1.25em;
    display: block;
    padding: 10px;
    margin: 5px;
    color: white
}

.menu-nav a:hover{
    color: #4285F4
}

header {
    background: #202020
}

/* home */

.home-bg {
    background: #2B2B2B;

}

.home {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    background: ;
    justify-content: space-between;
    align-items: center;
    height: 610px;
    flex-wrap: wrap;

}

.textosobre {
    max-width: 400px;
    color: white;
    margin: 35px;

}



.cardperfilback {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    transition: 0.3s;
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 160px;
    justify-content: center;
    background: #202020;
    margin: 35px;
    padding: 32px 50px;
    color: white;




}

.cardperfil {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    transition: 0.3s;
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 160px;
    justify-content: center;
    background: #202020;
    margin: 35px;
    padding: 32px 50px;


}

.sobremim {
    padding: 22px 15px;
    color: white;
    margin: 10px auto;


}

.fotoperfil {
    align-self: center
}





/*flip card*/



/* serviçoes */

.content h2{
    margin-top: 10px
}

h2{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    color: white;
    margin: 
}

.content {
    display: flex;
    background: #202020;
    flex-direction: column
}

.a {
    max-width: 960px;
    margin: 0 auto;
    color: white;

}

.servicos {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    flex-wrap: wrap;


}



.cardservico {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    transition: 0.3s;
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
    justify-content: center;
    background: #2B2B2B;
    padding: 30px;
    margin: 35px;

}

.cardservico-txt {
    color: white
}




/* sobre */


.sobre-bg {
    background: #2B2B2B;


}


.sobre {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.sobre-info {
    color: white;
    font-size: 1.5em;
    max-width: 400px;
    margin: 35px;

}

.habilidade {
    background-color: #202020;
    margin-right: 35px;

}

.sobre-bg h2{
    padding-top:  10px
}


.habilidade ul {
    display: flex;
    margin: 35px;

}
.habilidade li {
    margin: 10px;
    padding: 10px;
/*    background: #2B2B2B*/
}
.habilidade li:hover {
/*    background: #4285F4*/
}


.habilidade img {
    max-width: 50px
}


/* contato */

.contato-bg {
    background-color: #202020;
}

.contato-bg h2{
    padding-top:  10px
}

.contato {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}



.contatolink {
    background-color: #2B2B2B;
    margin: 15px;
    padding: 10px;
    color: white;

}

.contatoprofissional img {
    max-width: 20px;



}

.contatoprofissional a {
    padding: 5px;
    line-height: 2;
    font-size: 1.2em;
    color: black;
    width: 250px;
    margin: 0 0 0 10px
}


.contatoprofissional li {
    display: flex;
    flex-wrap: wrap;
/*        width: 300px;*/
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 20px;

}






.mapa {
    padding: 25px;
}





/* footer */

.footer-bg {
    background-color: #2B2B2B;
}



.footer {
    max-width: 960px;
    padding: 10px;
    margin: 0 auto;
    display: flex
}

.footer p {
    align-self: center;
    margin: 0 auto;
    font-size: 1.4em;

}

hr {
    max-width: 80%;
    margin: 0 auto;
    background: #2B2B2B;
}





.cardservico:hover {
    background: #4285F4;
    transition: 0.2s
    
}




